<!-- raccourci pour DOCTYPE : ! + enter -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ville non trouvée</title>
    <!-- Lien utilisé par Flask -->
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Ville non trouvée</h1>
    <h2>Entrer une autre ville?</h2>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Entrer une autre ville" />
        <br>
        <button type="submit">Rechercher</button>
    </form>

    {% include 'footer.html' %}
</body>
</html>