<!-- raccourci pour DOCTYPE : ! + enter -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Météo actuelle</title>
    <!-- favicon -->
    <link rel="icon" href="{{ url_for('static', filename='assets/cloud_icon.png') }}" type="image/png">
    <!-- Lien utilisé par Flask -->
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
</head>
<body>
    <h1>Consulter la météo actuelle</h1>
    <form action="/weather">
        <input type="text" name="city" id="city" placeholder="Entrer une ville" />
        <button type="submit">Rechercher</button>
    </form>

    {% include 'footer.html' %}
    <script src="static/styles/footer-manage.js"></script>
</body>
</html>